#pragma code_page(65001)

#include <Windows.h>
#include <CommCtrl.h>
#include <Richedit.h>
#include <wingdi.h>

#include "resource.h"

#if 1
LANGUAGE LANG_CHINESE, SUBLANG_DEFAULT
STRINGTABLE
{
  IDS_APP_NAME_VER "FontLoaderSub " FONTLOADERSUB_GIT_VERSION
  IDS_SHELL_VERB "載入字幕之需字型"
  IDS_SENDTO "FontLoaderSub"
  IDS_LOAD_STAT "%1!i! 个字型載入成功，%2!i! 个出错，%3!i! 个無匹配。\n索引中有 %4!i! 个字型，%5!i! 个名稱；当前共 %6!i! 个字幕。"
  IDS_WORK_CANCELLING "取消中"
  IDS_WORK_SUBTITLE "解析字幕中"
  IDS_WORK_CACHE "讀取索引中"
  IDS_WORK_FONT "掃描字型中"
  IDS_WORK_LOAD "載入中"
  IDS_WORK_UNLOAD "解除中"
  IDS_WORK_DONE "完成"
  IDS_HELP "使用方法"
  IDS_USAGE "1. 将執行檔移动到字型資料夾；\n2. 把字幕或資料夾拖曳到執行檔上，亦可<A>利用捷徑</A>；\n3. 字型庫变更后请「更新索引」。"
  IDS_MANAGE_SHORTCUT "捷徑管理"
  IDS_SHORTCUT_ERROR_ADD "創建捷徑时出错"
  IDS_SHORTCUT_ERROR_DEL "移除捷徑时出错"
  IDS_SHORTCUT_ADD_DIR_BG "在 資料夾空白處右鍵選單 中創建"
  IDS_SHORTCUT_DEL_DIR_BG "从 資料夾空白處右鍵選單 里移除"
  IDS_SHORTCUT_ADD_SENDTO "在 傳送到 中創建"
  IDS_SHORTCUT_DEL_SENDTO "从 傳送到 里移除"
  IDS_MENU "選單(&M)"
}

LANGUAGE LANG_CHINESE, SUBLANG_DEFAULT
IDR_BTN_MENU MENU
{
  POPUP ""
  {
    MENUITEM "更新索引(&R)", ID_BTN_RESCAN
    MENUITEM "匯出字型(&E)", ID_BTN_EXPORT
    MENUITEM SEPARATOR
    MENUITEM "說明(&H)", ID_BTN_HELP
  }
}

#endif
